body {
    margin: 0;
    font-family: Arial, sans-serif;  
}

.banner {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 5px rgba(0,0,0,0.7);
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../media/BULAN-CAMPUS-BLESSING-AND-RIBBON-CUTTING-OF-GATE-50.jpg") center / cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner p{
    font-size: 1rem;
    margin-bottom: 10px
}

.banner button  {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(194, 4, 4);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}
.banner button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.banner button:hover {
    background-color: #ff0202;
}



