* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(129, 5, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cont {
    border: 2px solid rgb(126, 38, 38);
    border-radius: 16px;
    width: 90%;
    max-width: 500px;
    background-color: rgb(28, 28, 28);
    padding: 40px 20px;
    text-align: center;
    color: aliceblue;
}

.cont img {
    height: 90px;
    max-width: 100%;
}

.cont input {
    width: 100%;
    max-width: 320px;
    height: 40px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #fff;
    padding-left: 10px;
    font-style: italic;
    background-color: antiquewhite;
}

input:focus {
    outline: none;
}


.cont button {
    width: 100%;
    max-width: 220px;
    height: 40px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
}


.log button {
    background-color: #3E97FF;
}

.create_account button {
    background-color: #c40404;
}


.cont a {
    display: block;
    margin-top: 15px;
    font-size: 0.85rem;
    font-style: italic;
    color: white;
}

@media (max-width: 480px) {
    .cont {
        padding: 30px 15px;
    }

    .cont img {
        height: 70px;
    }
}


@media (max-width: 768px) {
    .cont {
        max-width: 450px;
    }
}